@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: arial, sans-serif;
    color: #222;
    font-size: 0.812rem;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    padding: 1rem;
}

.nav_bar {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
    height: 2.152rem;
}

.gmail_text {
    padding-right: 0.875rem;
}

.image_text {
    padding-right: 1rem;
}

/*Menu Hamburger */
.menu_hamburger {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.18rem;
    cursor: pointer;
    margin-right: 1.7rem;
}

.menu_hamburger:hover {
    background-color: rgba(60,64,67,0.1);
    outline: none;
    opacity: 1;
    border-radius: 50%;
    padding: 0.621rem;
}

p.circle {
    border-radius: 50%;
    width: 0.31rem;
    height: 0.31rem;
    background: rgb(55, 54, 54, 0.8);
    border: none;
}

.btn.sign_in {
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    padding: 0.62rem 0.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 0.28rem;
    width: 6.5rem;
    user-select: none;
    cursor: pointer;
}

.btn.sign_in:hover {
    background-color: #2b7de9;
    box-shadow: 0rem 0.0652rem 0.0812rem 0rem rgb(66 133 244 /30%), 0rem 0.0652rem 0.125rem 0.0652rem rgb(66 133 244 / 15%);
    color: #fff;
    border: 0.0652rem solid transparent;
}

main {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    text-align: center;
    margin-top: 1.625rem;
}

.image_container {
    min-height: 5.75rem;
    max-width: 100%;
}

img.google_image {
    width: 17.75rem;
    max-height: 15.125rem;
}

.search_box {
    display: flex;
    align-items: center;
    margin-top: 1.125rem;
    text-align: center;
    width: auto;
    max-width: 37rem;
    box-shadow: none;
    border: 0.0625rem solid #dfe1e5;
    border-radius: 1.5rem;
    margin: 1.51rem auto;
    height: 2.75rem;
}

.search_box:hover {
    box-shadow: 0 0.0625rem 0.375rem rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.fas.fa-search {
    width: 10%;
    display: block;
    padding-right: 0.55rem;
    color: #6e7174;
}

.form_control {
    width: 84%;
    height: inherit;
    color: #222;
    font-family: arial, sans-serif;
    outline: none;
    border: none;
    background: transparent;
}

.form_control:hover{
    outline: none;
}

.voice_search {
    position: relative;
}

.voice_search:hover .voice_search_desc{
    visibility: visible;
    opacity: 1;
}

.microphone {
    height: 1.21rem;
    display: block;
    width: 0.952rem;
}

.voice_search_desc {
    position: absolute;
    top: 2rem;
    left: -2rem;
    right: 2rem;
    bottom: 0;
    background: rgba(0,0,0,0.87);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    font-size: 0.725rem;
    width: 6rem;
    height: 1.75rem;
    padding: 0.25rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: 0.052rem solid #fff;
}

.btn_section {
    margin-top: 1.625rem;
}

.btn_section .btn {
    padding: 0rem 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.825rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #3c4043;
    border: 0.0725rem solid #f8f9fa;
    background-color: #f8f9fa;
    min-width: 3.275rem;
    height: 2.25rem;
    user-select: none;
    outline: none;
    font-size: 0.925rem;
    line-height: 1.6875rem;
}

.btn:hover {
    border: 0.0725rem solid #dadce0;
    box-shadow: 0 0.0825rem 0.0825rem rgb(0 0 0 / 10%);
    color: #202124;
}

.btn:focus {
    border: 0.0725rem solid #4d90fe;
    outline: none;
}

.lang_diverse {
    margin-top: 1.652rem;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}

.lang_diverse span {
    display: block;
    padding-left: 0.625rem;
}

.lang_diverse span a {
    color: #1a0dab;
}


footer {
    background-color: #f2f2f2;
    font-size: 0.935rem;
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,0.54);
    font-weight: 400;
    flex-shrink: 0;
}


.footer_top {
    padding: 0.935rem 1.875rem;
    border-bottom: 0.0425rem solid #dadce0;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.25rem;
}

.left_bottom_footer {
    justify-content: flex-start;
    align-items: center;
    min-width: 30%;
    order: 1;
}

.left_bottom_footer span a {
    padding: 1rem;
    color: #70757a;
    font-family: Arial, sans-serif;
    font-size: 0.87rem;
}

.center_footer {
    order: 2;
    display: flex;
    padding: 1rem 0rem;
    align-items: center;
    font-size: 0.87rem;
    justify-content: center;
    margin: auto;
    
}

.center_footer img {
    width: 0.95rem;
    height: 0.875rem;
    margin-right: 0.375rem;
}

.right_bottom_footer {
    order: 3;
    justify-content: flex-end;
}

.right_bottom_footer span a {
    color: #70757a;
    padding: 1rem;
    font-size: 0.87rem;
}